# this is the account listed as delegate of the vault
# create with `solana-keygen pubkey /path/to/solana_private_key.json`
DELEGATE_PRIVATE_KEY=/path/to/solana_private_key.json
VAULT_ADDRESS=


RPC_HTTP_URL=https://api.mainnet-beta.solana.com
